Repository solarengine-sdk/react-native-solarengine-analytics: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files} --fix

types:
  run: npx tsc

chore: release 1.7.0
  SolarengineAnalysisReactNative.podspec
  package-lock.json
  package.json
Due: none

chore: release 1.7.0
  SolarengineAnalysisReactNative.podspec
  android/gradle.properties
  package-lock.json
  package.json
Due: none

fix: include Harmony sources in 1.7.1 package
  package.json
  src/index.tsx
Due: lint

chore: release 1.7.1
  SolarengineAnalysisReactNative.podspec
  android/gradle.properties
  package-lock.json
  package.json
Due: none

feat(bridge): add event aliases and init config
  android/gradle.properties
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineFirstEvent.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
  ios/SolarengineAnalysisReactNative.mm
  ios/SolarengineEventAttribute.h
  ios/SolarengineEventAttribute.m
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
  src/pre_defined_event.tsx
  src/se_initial_config.tsx
Due: lint, types

fix(bridge): align alias and SDK checks
  SolarengineAnalysisReactNative.podspec
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
  ios/SolarengineEventAttribute.m
Due: none

feat: demo eventAlias buttons + harmony solarengine 2.0.0 adaptation
  example/ios/SolarengineAnalysisReactNativeExample.xcodeproj/project.pbxproj
  example/src/App.tsx
  exampleforharmony/README.md
  exampleforharmony/harmonySample/entry/oh-package-lock.json5
  exampleforharmony/harmonySample/entry/oh-package.json5
  exampleforharmony/harmonySample/entry/src/main/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  exampleforharmony/harmonySample/entry/src/main/ets/pages/HarmonyMetroConfig.ets
  exampleforharmony/harmonySample/entry/src/main/ets/solarengine/SolarengineAnalysisReactNative.ets
  exampleforharmony/scripts/harmony-platform.js
  exampleforharmony/src/App.tsx
  yarn.lock
Due: lint, types

chore: add worktree sync script + ignore .worktrees
  .gitignore
  scripts/sync-from-main.sh
Due: none

chore: add publish script for cn/oversea release
  scripts/publish.sh
Due: none

fix(publish): re-resolve workspace after stripping -cn on oversea
  scripts/publish.sh
Due: none

fix(ios): delete odminfo
  ios/SolarengineAnalysisReactNative.mm
Due: none

feat(ios): add separated attribution bridge
  SolarengineAnalysisReactNative.podspec
  ios/SolarengineAnalysisReactNative.mm
Due: none

feat(android): add separated attribution bridge
  android/gradle.properties
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineSingleton.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
Due: none

feat(harmony): add separated attribution bridge
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
Due: none

feat(rn): expose separated attribution APIs
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
  src/se_initial_config.tsx
Due: lint, types

feat(demo): add separated attribution controls
  example/src/App.tsx
  exampleforharmony/harmonySample/entry/src/main/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  exampleforharmony/harmonySample/entry/src/main/ets/solarengine/SolarengineAnalysisReactNative.ets
  exampleforharmony/src/App.tsx
Due: lint

feat(api)!: move attribution callbacks to initialize
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineSingleton.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
  ios/SolarengineAnalysisReactNative.mm
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
  src/se_initial_config.tsx
Due: lint, types

fix(harmony): align bridge with Core 2.x
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
Due: none

fix(ios): enforce SDK floor and remove ODMInfo
  SolarengineAnalysisReactNative.podspec
  src/se_initial_config.tsx
Due: lint

refactor(harmony): move attribution callbacks into initialize, bump core to 2.1.0
  example/package.json
  example/react-native.config.js
  example/src/App.tsx
  exampleforharmony/harmonySample/entry/oh-package-lock.json5
  exampleforharmony/harmonySample/entry/oh-package.json5
  exampleforharmony/harmonySample/entry/src/main/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  exampleforharmony/harmonySample/entry/src/main/ets/pages/HarmonyMetroConfig.ets
  exampleforharmony/harmonySample/entry/src/main/ets/solarengine/SolarengineAnalysisReactNative.ets
  exampleforharmony/metro.config.js
  exampleforharmony/src/App.tsx
Due: lint, types

fix(attribution): normalize callback payloads and prevent repeats
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineSingleton.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
  ios/SolarengineAnalysisReactNative.mm
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
Due: lint, types

fix(demo): update attribution callback examples
  example/src/App.tsx
  exampleforharmony/harmonySample/entry/src/main/ets/solarengine/SolarengineAnalysisReactNative.ets
  exampleforharmony/src/App.tsx
Due: lint

fix(attribution): align UA and RE callbacks
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
  ios/SolarengineAnalysisReactNative.mm
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
Due: lint, types

fix(harmony): expose separated attribution listeners
  exampleforharmony/harmonySample/entry/src/main/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  exampleforharmony/harmonySample/entry/src/main/ets/solarengine/SolarengineAnalysisReactNative.ets
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
Due: none

fix(harmony): align initialize metadata arity
  exampleforharmony/harmonySample/entry/src/main/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
