Repository solarengine-sdk/react-native-solarengine-analytics: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files} --fix

types:
  run: npx tsc

feat: ready for npm
  package.json
Due: none

chore: release 1.6.0
  package-lock.json
  package.json
Due: none

fix: remove type module
  .eslintrc.cjs
  cli.js
  package.json
Due: lint, types

feat: bump android native sdk version
  android/gradle.properties
Due: none

feat: bump the plugin inner version
  src/index.tsx
Due: lint

chore: release 1.6.1
  package-lock.json
  package.json
Due: none

fix: add losing ENABLE_REMOTECONFIG
  android/build.gradle
  src/index.tsx
Due: lint

chore: release 1.6.2
  package-lock.json
  package.json
Due: none

fix: fixed deeplink
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/SolarengineAnalysisReactNative.mm
  src/index.tsx
  src/se_initial_config.tsx
  src/types/attribution.ts
  yarn.lock
Due: lint, types

chore: release 1.6.3
  package-lock.json
  package.json
Due: none

fix: fixed deeplink
  example/android/app/src/main/assets/index.android.bundle
  example/src/App.tsx
  ios/SolarengineAnalysisReactNative.mm
  src/index.tsx
  src/se_initial_config.tsx
  src/types/attribution.ts
Due: lint, types

chore: delete no use sample code
  example/src/App.tsx
Due: lint

fix: some api Params were supportedt incorrectly
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineRNUtils.java
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  example/src/App.tsx
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
  src/pre_defined_event.tsx
Due: lint, types

chore: optimise code style
  example/src/App.tsx
Due: lint

chore: release 1.6.4
  package-lock.json
  package.json
Due: none

fix: renew the deprecated api BaseReactPackage in Android
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativePackage.kt
  src/index.tsx
Due: lint

chore: release 1.6.5
  package-lock.json
  package.json
Due: none

chore: optimize the public api
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineSingleton.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/SolarengineAnalysisReactNative.mm
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
Due: lint, types

chore: optimize the example code
  example/src/App.tsx
Due: lint

chore: optimize the public api
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineSingleton.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  example/src/App.tsx
  ios/SolarengineAnalysisReactNative.mm
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
Due: lint, types

chore: release 1.6.6
  package-lock.json
  package.json
Due: none

fix: using the newest native api for deferredDeeplink
  ios/SolarengineAnalysisReactNative.mm
  src/index.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
