Repository solarengine-sdk/react-native-solarengine-analytics: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files} --fix

types:
  run: npx tsc

chore: release 1.6.7
  package-lock.json
  package.json
Due: none

feat: use the v1.3.1.0 for Android sdk
  android/gradle.properties
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineEventAttribute.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineFirstEvent.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  example/android/gradle.properties
  example/ios/Podfile.lock
  ios/SolarengineAnalysisReactNative.mm
  ios/SolarengineEventAttribute.m
  src/index.tsx
Due: lint

chore: commitlint
  src/index.tsx
Due: lint

chore: remove no used code
  example/android/gradle.properties
Due: none

feat: use the v1.3.1.0 for Android sdk
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineEventAttribute.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineFirstEvent.kt
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  ios/SolarengineAnalysisReactNative.mm
  ios/SolarengineEventAttribute.m
  src/index.tsx
Due: lint

feat: use the v1.3.1.0 for Android sdk
  android/gradle.properties
Due: none

fix: using firstEvent in sample code
  example/src/App.tsx
Due: lint

chore: optimse the sample code
  example/src/App.tsx
Due: lint

chore: disable the native sdk log
  example/src/App.tsx
Due: lint

chore: release 1.6.8
  package-lock.json
  package.json
Due: none

feat: add harmony platform
  harmony/cpp/solarengine/SolarEnginePackage.h
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.h
  harmony/ets/solarengine/SolarEnginePackage.ets
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
Due: none

feat: add harmony method
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
  src/se_initial_config.tsx
Due: lint, types

feat(iOS): delete SESDKRemoteConfig framework and switch to SERemoteConfigManager import
  ios/SolarengineAnalysisReactNative.mm
Due: none

feat(Android): delete solar-remote-config aar and switch to solar-engine-core import
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/solarengineanalysisreactnative/SolarEngineRemoteConfig.java
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
Due: none

fix: enablePersonalizedAd, enableUserData enableUserData put into Android {}
  src/se_initial_config.tsx
Due: lint

fix(RC): resolve failure when set JSON type on Android
  src/ConfigItem.tsx
Due: lint

feat: harmony add setInternalLogEnabled fix bug
  harmony/cpp/solarengine/SolarengineAnalysisReactNative.cpp
  harmony/ets/solarengine/SolarengineAnalysisReactNative.ets
  src/index.tsx
Due: lint

feat: setChannel only android
  src/NativeSolarengineAnalysisReactNative.ts
  src/index.tsx
Due: lint, types

fix(ios): handle object default config values in setDefaultConfig
  ios/SolarengineAnalysisReactNative.mm
Due: none

fix(ios): prevent callback crash when only JS reloads
  ios/SolarengineAnalysisReactNative.mm
Due: none

fix(android): prevent attribution callback race crash
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
Due: none

fix(android): guard native callbacks from duplicate invocation
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
Due: none

fix(android): set remote config enable via setter
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
Due: none

feat(android): add OAID enable config
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
  src/se_initial_config.tsx
Due: lint

chore: update SolarEnginePluginVersion to 1.6.9
  src/index.tsx
Due: lint

fix(ios): align preset properties event type handling
  ios/SolarengineAnalysisReactNative.mm
Due: none

fix(android): apply React Native bridge version to SDK source info
  android/src/main/java/com/solarengineanalysisreactnative/SolarengineAnalysisReactNativeModule.kt
Due: none

chore: release 1.6.9
  package-lock.json
  package.json
Due: none

chore(ios): remove RemoteConfig pod dependency configuration
  SolarengineAnalysisReactNative.podspec
Due: none

fix: return unsupported results for Harmony unavailable APIs
  src/Utils.tsx
  src/index.tsx
Due: lint

feat(example): refresh native demo and align Harmony demo tooling
  .gitignore
  CONTRIBUTING.md
  example/android/build.gradle
  example/src/App.tsx
  exampleforharmony/package.json
  lefthook.yml
  tsconfig.json
Due: lint

fix(release): correct ios target pod selection
  SolarengineAnalysisReactNative.podspec
  cli.js
  src/ConfigItem.tsx
  src/se_initial_config.tsx
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
